<article class="card mx-3">
    <div class="card-header d-flex justify-content-between">
        <div>Title</div>
        <div>Posted by me on today</div>
    </div>
    <div class="card-body">
        <p class="card-text">Content of the post</p>
    </div>
</article>