<article class="card border-dark">
    <div class="card-header text-start bg-dark text-light">
        <div>Comment by {{user.username}} on {{format_date created_at}} </div>
    </div>
    <div class="card-body">
        <p class="card-text text-start ms-3">
            {{comment_text}}
        </p>
    </div>
</article>