<div class="container text-center">
    {{#each posts as |post| }}
    <div class="row py-3">
        <div class="col">
            {{> article-card post}}
        </div>
    </div>
    {{/each}}
</div>