<form class="new-post-form" id="new-post-form">
    <div class="input-group">
        <span class="input-group-text">Title</span>
        <input class="form-control post-title" type="text" id="post-title" name="post-title">
    </div>
    <div class="input-group mt-1">
        <span class="input-group-text">Content</span>
        <textarea name="post-content" id="post-content" class="form-control post-content"></textarea>
    </div>
    <div class="buttons align-self-start mt-2">
        <button class="btn btn-primary submit-post-btn me-2" type="submit">Submit</button>
    </div>
</form>