<div class="d-flex justify-content-center align-items-center">
    <form class="card m-3 flex-grow-1 flex-md-grow-0 signup-form">
        <div class="card-header text-center">
            Sign Up
        </div>
        <div class="card-body mx-md-3">
            <div class="mb-3">
                <label for="username-input" class="form-label">Username</label>
                <input type="text" class="form-control" id="username-input">
            </div>
            <div class="mb-3">
                <label for="email-input" class="form-label">Email</label>
                <input type="email" class="form-control" id="email-input">
            </div>
            <div class="mb-3">
                <label for="password-input" class="form-label">Password</label>
                <input type="password" class="form-control" id="password-input" aria-describedby="password-help">
                <div id="password-help" class="form-text">Password must be at least 4 characters.</div>
            </div>
            <button type="submit" class="btn btn-warning w-100 mb-3">Sign Up</button>
            <div class="alert alert-danger signup-alert d-none text-center" role="alert">
                <i class="bi bi-exclamation-diamond me-2"></i><span class="alert-text">Invalid Information</span>
            </div>
            <div class="text-center">
                <a href="./login" class="text-center">Already have an account? Login!</a>
            </div>
        </div>
    </form>
</div>
<script src="/js/signup.js"></script>